:root {
  --clr-pri: darkgoldenrod;
  --clr-sec: darkslategray;
  --clr-acc: red;
  --clr-state: red;
  --clr-bg: #111;
  --clr-white: ghostwhite;
  --clr-black: red;
  --clr-grey: silver;
  --clr-coal: #666;

  --border-thick: 5px;
}
