@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import 'http://typecast.com/images/uploads/modernscale.css';

@import 'globals';
@import 'types';

//

@container-width: 64rem;
@container-padding: 4rem;

//

h6, h5, h4, h3, h2, h1, span {
  font-family: 'forest-line';
  color: var(--clr-pri);
} 

p {
  font-family: 'source-code-pro-regular', sans;
}

html {
  background-color: var(--clr-pri);
}

body {
  width: 100vmin;
  height: 100vmin;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: grid;

  grid-gap: var(--border-thick);
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "i i i i i h h . . . . ."
    ". . . . . h h . . . . ."
    ". . . . . h h . . . . ."
    ". . . . . h h . . . . ."
    ". . . . m m m m . . . ."
    ". . . . m m m m . . . ."
    ". . . . m m m m . . . ."
    ". . . . m m m m . . . ."
    ". . . . . g g . . a b c"
    ". . . . . g g . . f f f"
    ". . . . . g g . . f f f"
    ". . . . . g g . . f f f"
    ". . . . . g g . . f f f";

  > *:nth-child(1) { grid-area: i }

  > *:nth-child(2) { grid-area: h }

  > *:nth-child(3) { grid-area: m }

  > *:nth-child(4) { grid-area: g }

  > *:nth-child(4) { grid-area: a }

  > *:nth-child(5) { grid-area: b }

  > *:nth-child(6) { grid-area: c }

  > *:nth-child(7) { grid-area: f }
}

body {
  color: var(--clr-pri);
  background-color: var(--clr-bg);
  border: var(--border-thick) solid var(--clr-pri);

  * > {
    box-shadow: 0 0 0 var(--border-thick) var(--clr-pri);
  }

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: @container-width;
    margin: 0 auto;
    box-shadow: 0 0.1rem 0 0 var(--clr-pri);

    > * {
      flex: 1;
      height: 100%;
      text-align: center;
      //
      transition:
        box-shadow 160ms ease;

      &:hover {
        box-shadow: inset 0 -5rem 0 0 var(--clr-pri);
        overflow: hidden;

        > * {
          //
          transition:
            color 160ms ease 160ms;

          &:hover {
            color: var(--clr-white);
          }

        }
      }
    }
  }
}
