@font-face {
  font-family: 'forest-line';
  src: url('/fonts/forest-line.woff') format('woff');
}

@font-face {
  font-family: 'source-code-pro';
  src: url('/fonts/source-code-pro-regular.woff') format('woff');
}

body {
  font-family: 'source-code-pro';
  background-color: white;
  line-height: 1.45;
  color: var(--clr-coal);
}

ul, ol {
  list-style: none;
}

p {
  margin-bottom: 1.25em;
}

a {
  text-decoration: none;
}

a, p {
  font-size: 1rem;
}


h1, h2, h3, h4, h5 {
  line-height: 1.15;
}

h1, h2, h3, h4, h5, p, a, span {
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 11.089em;
}

h2 {font-size: 6.854em;}

h3 {font-size: 4.236em;}

h4 {font-size: 2.618em;}

h5 {font-size: 1.618em;}

small, {
  font-size: 0.618em;
}
